.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.game ul {
  padding: 0;
  list-style-type: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px rgb(84, 140, 172);
  margin-bottom: 1em;
  background-color: rgb(229, 176, 35);
  height: 12rem;
  border-bottom: 2px solid rgb(84, 140, 172);
}

.game-score-container {
  /* display: flex; */
  /* justify-content: space-around; */
  margin-bottom: 6em;
}
