.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 6vw;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px rgb(84, 140, 172);
  margin-bottom: 2rem;
  background-color: rgb(229, 176, 35);
  height: 12rem;
  border-bottom: 2px solid rgb(84, 140, 172);
}

body {
  margin: 0 0 4em 0;
  background-color: rgb(227, 218, 216);
}

.game-score-container {
  margin-bottom: 6em;
}

.question {
  font-size: 2.25vw;
  margin: 2em 2em 1em 2em;
}

.answer-options {
  margin-top: 2rem;
}

.answer-results {
  font-size: 1.75vw;
  margin: 0 2em 0 2em;
  background-color: rgb(229, 176, 35, 0.2);
}

.highlight-text {
  color: rgb(31, 102, 156);
  text-decoration: underline;
  text-decoration-color: rgb(229, 176, 35);
  font-weight: bolder;
  font-size: 110%;
}

.status-highlight-text {
  font-size: 110%;
  color: black;
}

button {
  width: 40%;
  height: 100%;
  padding: 0.25em;
  /* margin: 0.5em; */
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;
}

button:hover {
  color: rgb(229, 176, 35);
}

button:disabled {
  color: rgb(31, 102, 156, 0.5);
}

img {
  border: 2px solid rgb(84, 140, 172);
  border-radius: 4px;
  padding: 5px;
  max-width: 50%;
  height: auto;
}

.game-results h1 {
  font-size: 4vw;
  color: rgb(31, 102, 156);
  text-decoration: underline;
  text-decoration-color: rgb(229, 176, 35);
}

.game-results h2 {
  font-size: 2.5vw;
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.rules {
  width: 70%;
}

.status-container {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .App-header {
    height: 20%;
    font-size: 1.75rem;
  }

  button {
    height: 3rem;
    width: 80%;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .rules-container {
    font-size: 1.5rem;
  }

  .game-results h1 {
    font-size: 2rem;
  }

  .game-results h2 {
    font-size: 1.5rem;
  }

  .question h2 {
    font-size: 2rem;
  }

  .answer-results {
    font-size: 1.25rem;
  }

  .status-container {
    font-size: 1.5rem;
  }
}
