.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px rgb(84, 140, 172);
  margin-bottom: 1em;
  background-color: rgb(229, 176, 35);
  height: 12rem;
  border-bottom: 2px solid rgb(84, 140, 172);
}

body {
  margin: 0;
  background-color: rgb(227, 218, 216);
}

.game-score-container {
  margin-bottom: 6em;
}

.question {
  font-size: 1.5em;
  margin-top: 2em;
}

.answer-options {
  margin-top: 4em;
}

.highlight-text {
  color: rgb(31, 102, 156);
  text-decoration: underline;
  text-decoration-color: rgb(229, 176, 35);
  font-weight: bolder;
  font-size: 120%;
}

.status-highlight-text {
  font-size: 1.2rem;
  color: black;
}

button {
  width: 40%;
  height: 2em;
  margin: 0.5em;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}

.game-results button {
  margin-bottom: 2em;
}

button:hover {
  color: rgb(229, 176, 35);
}

button:disabled {
  color: rgb(31, 102, 156, 0.5);
}

img {
  border: 2px solid rgb(84, 140, 172);
  border-radius: 4px;
  padding: 5px;
  max-width: 50%;
  height: auto;
  margin: 2em;
}

.game-results h1 {
  font-size: 3rem;
  color: rgb(31, 102, 156);
  text-decoration: underline;
  text-decoration-color: rgb(229, 176, 35);
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.rules {
  width: 50%;
}
